---@meta

{%~ match section %}
{% when Some with (section) %}
{%- match wrapper %}
{% when Some with (wrapper) %}
{%- if wrapper == "class" %}
---@class {{ section }}
{%- endif %}
{%- when None -%}
{% endmatch %}
{{ section }} = {}
{%- when None -%}
{% endmatch %}

{%~ for function in functions %}
---[{{ function.realm|upper }}] {{ function.description }}
---
---[(View on GitHub)]({{ function.github_source }})
---
{% match function.params -%}
{%- when Some with (params) -%}
{%- for param in params -%}
---@param {{ param.name }}{% if param.optional %}?{% endif %} {{ param.type }} {{ param.description }}
{% endfor %}
{%- when None -%}
{%- endmatch %}
{%- match function.return -%}
{%- when Some with (return) -%}
---@return {{ return.type }} #{{ return.description }}
{%~ when None -%}
{%- endmatch %}
{%- match function.deprecated -%}
{%- when Some with (_) -%}
---@deprecated
{%~ when None -%}
{%- endmatch %}
{%- match function.package -%}
{% when Some with (_) -%}
---@package
{%~ when None -%}
{% endmatch -%}
function {{ function.name }}({{ function.param_list }}) end
{% endfor %}
